# Dependencies
node_modules

# Build output
dist
dist-ssr
build

# Env files
.env
.env.*.local
!.env.example

# Logs
logs
*.log
npm-debug.log*

# Prisma
server/prisma/dev.db

# Editor / OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TS build info
*.tsbuildinfo
